@import url('https://fonts.googleapis.com/css?family=Mukta Malar');

body{
  margin:0;
  font-family:Mukta Malar;
  
}
 .web-title {
     width: 100%;
    height: 150px;
   
    text-align: center;
    color:white;
    display: inline-block;
   background-image: linear-gradient(90deg,#de1b2e 0%,#2f2fa2 20%,#ff0789 40%,#18c46e 70%,#fcec03 90%,#fc3d03 95%,#800000 100%);
   
   display:flex;
   flex-direction:column;
   justify-content:center;
   align-items:center;
}

a{
  text-decoration:none;
  padding:0px 5px;
  font-size:20px;
  color:black;
  border:3px solid black;
  
}

h1{
  font-size:40px;
  padding:0;
  margin:0;
}
.big-box{
  width:100%;
  height:auto;
 background:white;
  margin-top:5px;
}


.workspace{
  margin:0px 30px;
  margin-top:20px;
  padding:10px 0px;
  background:white;
}

.color-box-1{
  padding:40px 0px;
  background:#de1b2e;
  border-radius:10px;
  color:#18c46e;
  font-size:40px;
  display:flex;
  justify-content:center;
  align-items:center;
  
}

.color-box-2{
  padding:40px 0px;
  background:#2f2fa2;
  border-radius:10px;
  color:#fcec03;
  font-size:40px;
  display:flex;
  justify-content:center;
  align-items:center;
  
}

.color-box-3{
  padding:40px 0px;
  background:#873737;
  border-radius:10px;
  color:#ff0789;
  font-size:40px;
  display:flex;
  justify-content:center;
  align-items:center;
  
}


.radio{
  height:auto;
  background:white;
  padding:0px 20px;
  border-bottom:1px blue;
 
}

input[type="radio"] { 
/*  -webkit-transform: scale(2.5);  */
/* transform: scale(2.5);  */
margin:0;
padding:0;
}
  
label{
  font-size:14px;
  margin:0;
  font-weight:bold;
  margin:0;
  paddin:0;
  background:gray;
  
}


.rb1{
  margin-right:3px;
  padding:3px 5px;
  border:3px solid black;
  border-radius:2px;
  background:black;
  opacity:.9;
  color:white;
  font-size:10px;
  
}

p{
  text-align:left;
}

.radio-group{
  display:flex;
  justify-content:space-around;
  padding-bottom:40px;
  
}
